[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/linalg"]
	path = external/linalg
	url = https://gitlab.lrz.de/cms_ss2020/cie2/linalg.git
